@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif';
}

.menu {
    font-size: 140%!important;
    color: black;
}

.menuItens:hover {
    border: 1px solid #fa8406;
    background-color: #1c6eaf;
    border-radius: 15px;
    color: white!important;
}

.dropdownLogin {
    font-size: 110%!important;
    color: black;
}

.header {
    position: fixed;
}


/* COLABORADORES ***************************************/

.tamanho {
    font-size: 25px;
}


/* vagas ***************************************/

.vagas {
    padding: 1% 0 2% 0;
}

.vagasDisponiveis {
    border: 2px solid #fa8406;
    background-color: #1c6eaf;
    border-radius: 15px;
    color: white!important;
    padding-bottom: 5%;
}

.questionario {
    padding: 5% 0 0 0;
}

.formatoCheck {
    padding-left: 40%;
}

.espaco {
    margin-top: 5%;
}

.fase2 {
    width: 75%;
    padding-left: 20%;
}

.fase3 {
    width: 75%;
    padding-left: 10%;
}

.botoes {
    margin-top: 10%;
    font-size: 150%;
    background-color: #fa8406!important;
    border: #fa8406!important;
}

@media(max-width:576px) {
    /*INDEX******/
    .primeiraSection {
        margin-left: 50%;
    }
    .primeiraSection h1 {
        font-size: 250%!important;
    }
    .carrossel {
        display: flex;
        justify-content: center;
        width: 250%;
        padding: 0;
        margin-left: -55%;
    }
    .quemSomos {
        display: flex;
        flex-direction: column!important;
        margin-left: 50%;
    }
    .logo {
        width: 50%!important;
        height: 50%!important;
        margin-left: 26%;
    }
    .container hr {
        width: 200%!important;
    }
    .linhaLaranja {
        width: 200%!important;
    }
    .localizacao {
        display: flex;
        flex-direction: column;
        padding-left: 50%!important;
        width: 693px;
        height: 700px!important;
    }
    .mapa {
        width: 355px!important;
        height: 260px!important;
    }
    .textoMapa {
        margin-right: 30%;
        padding-bottom: 10%!important;
    }
    .contato {
        width: 193%;
    }
    footer {
        width: 193%;
    }
    /****** RECRUTAMENTO ***********/
    .conteudoRecrutamento {
        margin-top: 20%;
        margin-left: 90%;
    }
    .proximo {
        margin-left: 39%;
    }
    .fase2 {
        margin-top: 10%;
        width: 180%!important;
    }
    .fase3 {
        width: 100%!important;
        margin-bottom: 100%;
        margin-top: 40%;
        margin-left: 40%;
    }
}