@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif';
}

.menu {
    font-size: 140%!important;
    color: black;
}

.menuItens:hover {
    border: 1px solid #fa8406;
    background-color: #1c6eaf;
    border-radius: 15px;
    color: white!important;
}

.dropdownLogin {
    font-size: 110%!important;
    color: black;
}

.header {
    position: fixed;
}


/* COLABORADORES ***************************************/

.tamanho {
    font-size: 25px;
}


/* vagas ***************************************/

.vagas {
    padding: 1% 0 2% 0;
}

.vagasDisponiveis {
    border: 2px solid #fa8406;
    background-color: #1c6eaf;
    border-radius: 15px;
    color: white!important;
    padding-bottom: 5%;
}

.questionario {
    padding: 5% 0 0 0;
}

.formatoCheck {
    padding-left: 40%;
}

.espaco {
    margin-top: 5%;
}